@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Arial', sans-serif;
}

.grid>div {
  background: rgb(32, 32, 32);
}

.grid {
  padding: 5px;
  grid-gap: 5px;
  background: linear-gradient(135deg, #fad961 0%, #f76b1c 70%);
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  grid-auto-rows: minmax(6em, auto);
  grid-template-areas: 'header buttons buttons upload' 'menu content content upload';
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'name age' 'submit fetchlist';
  grid-gap: 15px;
  padding: 15px;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 10px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header * {
  width: 90%;
}

#inputName {
  grid-area: name;
  justify-self: right;
}

#inputAge {
  grid-area: age;
}

#buttonSubmit {
  grid-area: submit;
  justify-self: right;
}

#buttonFetchList {
  grid-area: fetchlist;
}

.image {
  grid-area: menu;
  padding: 10px;
}

.content {
  grid-area: content;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.upload {
  grid-area: upload;
  font-family: Tajawal, sans-serif;
  font-size: 1.8vw;
  color: white;
  display: grid;
  justify-items: center;
  grid-auto-rows: min-content;
  align-content: center;
}

.upload>div>p {
  margin: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  div>h1>b {
    font-size: 30px;
  }
  .header {
    font-size: 2em;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'menu' 'upload';
  }
  .header * {
    width: 90%;
  }
  .upload {
    font-size: 3vw;
  }
  .buttons {
    display: none;
  }
  .content {
    display: none;
  }
}