body{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    color:black;
}

.footercontainer{
    background:#6d0019;
    position: absolute;
    bottom:0;
    width: 100%;
}

.bottomfooter{
    font-size: 18px;
    padding:10px;
    color:darkgrey;
    text-align: center;
}

.gridinindex > div{
    background-color: #6d0019;
}

.gridinindex{
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(6em, auto);
    grid-template-areas: 
    'header header header header'
    'menu content content music';
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'name age'
    'submit fetchlist';
    grid-gap: 15px;
    padding: 15px;
}

.header *{
    width: 30%;
}

#inputName{
    grid-area: name;
    justify-self: right;
}
#inputAge{
    grid-area: age;
}
#buttonSubmit{
    grid-area: submit;
    justify-self: right;
}
#buttonFetchList{
    grid-area: fetchlist;
}

.image{
    grid-area: menu;
    padding: 10px;
}

.content{
    grid-area: content;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer{
    grid-area: footer;
    padding: 10px;
}

.music{
    grid-area: music;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.music div.musicButtonContainer{
    justify-self: center;
}

#selectSong{
    height: 40px;
    font-size:15px;
}

#playButton, #pauseButton, #stopButton{
    width: 4em;
    height: 4em;
}

@media only screen and (max-width: 600px)  {   
    .header {font-size: 2em}
    .footercontainer {display:flex; align-items: center; justify-content: center; position: relative}
    .bottomfooter {font-size: 10px}
    .gridinindex {grid-template-areas: 
        'header header header header'
        'content content music music'
        'menu menu menu menu';
    }
    .music select {width: 120px}
    .music {grid-gap: 20px}
    .header * {width: 90%}
    #selectSong{
        width: 140px;;
    }
    #playButton, #pauseButton, #stopButton{
        width: 3em;
        height: 3em;
    }
}