body{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 120px;
}

div{
    color:black;
}

.footercontainer{
    overflow: hidden;
}

.bottomfooter{
    margin-top: 20px;
    font-size: 18px;
    position: fixed;
    bottom:0;
    width:100%;
    height:40px;
    background:#6d0019;
    padding:10px;
    color:darkgrey;
    text-align: center;
}

.gridingrid > div{
    background-color: grey;
}

.gridingrid{
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(6em, auto);
    grid-template-areas: 
    'header header header'
    'menu content content'
    'footer footer footer';
}

.gridinindex > div{
    background-color: #6d0019;
}

.gridinindex{
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(6em, auto);
    grid-template-areas: 
    'header header header header'
    'menu content content music';
}

.header{
    grid-area: header;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu{
    grid-area: menu;
    padding: 10px;
}

.content{
    grid-area: content;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer{
    grid-area: footer;
    padding: 10px;
}

.music{
    grid-area: music;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.music div.musicButtonContainer{
    justify-self: center;
}

@media only screen and (max-width: 600px)  {   
    .header {font-size: 2em}
    .bottomfooter {font-size: 10px; display:flex; align-items: center; justify-content: center;}
    .gridinindex {grid-template-areas: 
        'header header header header'
        'content content music music';
    }
    .menu {display:none}
    .music select {width: 120px}
    .music {grid-gap: 20px}
}   